.data-visual {
  border: 1px solid black;
  height: 2px;
}

.input {
  padding: 10px;
  background-color: #9EFFA4;
  border-radius: 5px;
  p {
    margin: 0;
  }
}
#input-form {
  text-align: left;
  margin-top: 10px;
}

.form-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#output {
  text-align: left;
  background-color: #8EE694;
  padding: 10px;
  border-radius: 5px;
  li {
    list-style-type: none;
    line-height: 1.5;
  }

  h3, h4 {
    text-align: center;
  }
}

#root {
  margin: auto;
}

.seperator {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 2px;
  width: 400px;
}

.text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

