@import './variables.scss';


.data-visual {
  border: 1px solid black;
  height: 2px;
  background-color: $visualizer-color;
}

.input {
  padding: 10px;
  background-color: $light-green;
  border-radius: 5px;
  p {
    margin: 0;
  }
}
#input-form {
  text-align: left;
  margin-top: 10px;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#fibonacci-link {
  text-decoration: none;
  color: $link-color;
  font-weight: 800;
}

#output {
  text-align: left;
  background-color: #8EE694;
  padding: 10px;
  border-radius: 5px;
  li {
    list-style-type: none;
    line-height: 1.5;
  }

  h3, h4 {
    text-align: center;
  }
}

#root {
  margin: auto;
}

.seperator {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 2px;
  // width: 400px;
}

.text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

@media only screen and (min-width: 766px) {
  .form-wrapper {
    flex-direction: row;
  }
}

@media only screen and (min-width: 410px) {
  .seperator {
    flex-direction: row;
  }
}

